@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --navbar-collapsed-width: 75px;
  --navbar-expanded-width: 300px;
  --navbar-current-width: var(--navbar-collapsed-width);

  /* Colors */
  --bg-color-1: #f4f9ff;

  --fg-color-1: #364a61;
  --fg-color-1-opacity-10: rgba(54, 74, 97, 0.1);
  --fg-color-1-opacity-50: rgba(54, 74, 97, 0.5);
  --fg-color-1-opacity-70: rgba(54, 74, 97, 0.7);
}

.center-horizontal {
  display: flex;
  align-items: center;
}

.center-vertical {
  display: flex;
  justify-content: center;
}

.column-spacer {
  margin-top: auto;
}

.bg-color-1 {
  background-color: var(--bg-color-1);
}

.fg-color-1 {
  color: var(--fg-color-1);
}

.fg-color-1-opacity-10 {
  color: var(--fg-color-1-opacity-10);
}

.fg-color-1-opacity-50 {
  color: var(--fg-color-1-opacity-50);
}

.fg-color-1-opacity-70 {
  color: var(--fg-color-1-opacity-70);
}

.clickable {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
}

/* main {
  min-height: 100vh;
} */

.navbar {
  position: fixed;
  min-height: 100vh;
  width: var(--navbar-current-width);
  background-color: var(--bg-color-1);
  border-right: #b2bac3 thin solid;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.navbar:hover
/* ,
.navbar:hover + main  */ {
  --navbar-current-width: var(--navbar-expanded-width);
}

.nav-links {
  display: flex;
  flex-direction: column;
}

.logo-icon {
  width: 46px;
  height: 44px;
}

.logo-box {
  /* height: 70px; */
  padding: 0 calc((var(--navbar-collapsed-width) - 46px) * 0.5);
}

.logo-container {
  width: 207.37px;
  margin-top: 2em;
  margin-bottom: 2em;
}

nav:hover .logo-container {
  margin-left: calc(
    (
        var(--navbar-expanded-width) - 207.37px -
          (var(--navbar-collapsed-width) - 46px)
      ) * 0.5
  );
}

.link-box {
  /* margin: 0 auto; */
  padding: 0 calc((var(--navbar-collapsed-width) - 20px) * 0.5);
}

.link-icon {
  /* margin: 0 auto; */
  max-height: 16px;
  max-width: 20px;
  /* min-width: 20px; */
}

.link-title {
  font-weight: 400;
  font-size: 1em;
}

.nav-link {
  /* padding: 8px 0; */
  text-decoration: none;
  margin: 4px 0;
  padding: 4px 0.75em 4px 0;
  position: relative;
  color: var(--fg-color-1-opacity-70);
  fill: var(--fg-color-1-opacity-70);
  width: var(--navbar-expanded-width);
  /* width: 100px; */
}

.nav-link-bg {
  position: absolute;
  transform: scale(0.8);
  /* top: -px; */
  /* bottom: -4px; */
  top: 0;
  bottom: 0;
  right: var(--navbar-expanded-width);
  left: calc(var(--navbar-expanded-width) * -1);
}

.navbar:hover .nav-link--active .nav-link-bg {
  /* top: 2px;
  bottom: 2px; */
  top: 0;
  bottom: 0;
  left: 0.5em;
  right: 0.5em;
  background-color: var(--fg-color-1-opacity-10);
}

.nav-link--active {
  color: var(--fg-color-1);
  fill: var(--fg-color-1);
}

.nav-link--active .nav-link-bg {
  top: -4px;
  bottom: -4px;
  left: -20px; /* this is a random large number */
  /* right: calc(var(--navbar-collapsed-width) - 0.5em); */
  right: calc(var(--navbar-expanded-width) - 0.5em);
  background-color: var(--fg-color-1);
  border-radius: 0.5em;
  z-index: -1;
  transform: scale(1);
}

/* .navbar:hover .link-icon {
  max-width: 1.5em;
  max-height: 1.5em;
} */

/* Views */

.home {
  margin-left: var(--navbar-current-width);
  min-height: 100vh;
  background-color: royalblue;
  color: #fff;
  padding: 2em;
}

.navbar:hover + main > .home {
  --navbar-current-width: var(--navbar-expanded-width);
}

.generator {
  position: relative;
  min-height: 100vh;
  background-color: plum;
  color: #fff;
  z-index: -20;
  margin-left: var(--navbar-collapsed-width);
  padding: 2em;
}

.generator-foreground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -19;
}

.navbar:hover + main .generator-foreground {
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  /* z-index: -20; */
}
