@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --navbar-collapsed-width: 5em;
  --navbar-expanded-width: 20em;
  --navbar-current-width: var(--navbar-collapsed-width);

  --logo-container-width: 256.48px;
  --logo-side: 3em;

  /** Colors */
  /* Navbar */
  --bg-navbar-1-values: 244, 249, 255;
  --bg-navbar-1: rgb(var(--bg-navbar-1-values));

  --fg-navbar-1-values: 54, 74, 97;
  --fg-navbar-1: rgb(var(--fg-navbar-1-values));

  --fg-navbar-opacity-10: rgba(var(--fg-navbar-1-values), 0.1);
  --fg-navbar-opacity-30: rgba(var(--fg-navbar-1-values), 0.3);
  --fg-navbar-opacity-50: rgba(var(--fg-navbar-1-values), 0.5);
  --fg-navbar-opacity-70: rgba(var(--fg-navbar-1-values), 0.7);

  /* Theme buttons */
  --fg-themeBtn-inactive: var(--fg-navbar-opacity-30);

  --bg-themeBtn-light-active: skyblue;
  --fg-themeBtn-text-light-active: #000;
  --fg-themeBtn-icon-light-active: #fce570;

  --bg-themeBtn-dark-active: #364a61;
  --fg-themeBtn-text-dark-active: #fff;
  --fg-themeBtn-icon-dark-active: #fff;

  /* Pages */
  --bg-pages-1: #fff;
  --fg-pages-1: rgb(var(--fg-navbar-1-values));
}

.center-horizontal {
  display: flex;
  align-items: center;
}

.center-vertical {
  display: flex;
  justify-content: center;
}

.column-spacer {
  margin-top: auto;
}

.bg-color-1 {
  background-color: var(--bg-navbar-1);
}

.fg-color-1 {
  color: var(--fg-navbar-1);
}

.fg-color-1-opacity-10 {
  color: var(--fg-navbar-opacity-10);
}

.fg-color-1-opacity-50 {
  color: var(--fg-navbar-opacity-50);
}

.fg-color-1-opacity-70 {
  color: var(--fg-navbar-opacity-70);
}

.clickable {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease, fill 0.15s ease;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
}

/* main {
  min-height: 100vh;
} */

.navbar {
  position: fixed;
  min-height: 100vh;
  width: var(--navbar-current-width);
  background-color: var(--bg-navbar-1);
  /* border-right: #b2bac3 thin solid; */
  border-right: var(--fg-navbar-opacity-30) thin solid;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 200;
}

.navbar:hover
/* ,
.navbar:hover + main  */ {
  --navbar-current-width: var(--navbar-expanded-width);
}

.logo-title {
  /* color: pink; */
  font-size: 2em;
  font-weight: 600;
}

.nav-links {
  display: flex;
  flex-direction: column;
}

.logo-icon {
  width: var(--logo-side);
  height: var(--logo-side);
}

.logo-box {
  /* height: 70px; */
  padding: 0 calc((var(--navbar-collapsed-width) - var(--logo-side)) * 0.5);
}

.logo-container {
  /* width: 207.37px; */
  /* width: min-content; */
  width: var(--logo-container-width);
  margin-top: 2em;
  margin-bottom: 2em;
}

nav:hover .logo-container {
  margin-left: calc(
    (
        var(--navbar-expanded-width) - var(--logo-container-width) -
          (var(--navbar-collapsed-width) - var(--logo-side))
      ) * 0.5
  );
}

.link-box {
  /* margin: 0 auto; */
  padding: 0 calc((var(--navbar-collapsed-width) - 20px) * 0.5);
}

.link-icon {
  /* margin: 0 auto; */
  max-height: 16px;
  max-width: 20px;
  /* min-width: 20px; */
}

.link-title {
  font-weight: 400;
  font-size: 1em;
}

.nav-link {
  /* padding: 8px 0; */
  text-decoration: none;
  margin: 4px 0;
  padding: 4px 0.75em 4px 0;
  position: relative;
  color: var(--fg-navbar-opacity-70);
  fill: var(--fg-navbar-opacity-70);
  width: var(--navbar-expanded-width);
  /* width: 100px; */
}

.nav-link-bg {
  position: absolute;
  transform: scale(0.8);
  /* top: -px; */
  /* bottom: -4px; */
  top: 0;
  bottom: 0;
  right: var(--navbar-expanded-width);
  left: calc(var(--navbar-expanded-width) * -1);
}

.navbar:hover .nav-link--active .nav-link-bg {
  /* top: 2px;
  bottom: 2px; */
  top: 0;
  bottom: 0;
  left: 0.5em;
  right: 0.5em;
  background-color: var(--fg-navbar-opacity-10);
}

.nav-link--active {
  color: var(--fg-navbar-1);
  fill: var(--fg-navbar-1);
}

.nav-link--active .nav-link-bg {
  top: -4px;
  bottom: -4px;
  left: -20px; /* this is a random large number */
  /* right: calc(var(--navbar-collapsed-width) - 0.5em); */
  right: calc(var(--navbar-expanded-width) - 0.5em);
  background-color: var(--fg-navbar-1);
  border-radius: 0.5em;
  z-index: -1;
  transform: scale(1);
}

/* .navbar:hover .link-icon {
  max-width: 1.5em;
  max-height: 1.5em;
} */

/* Views */

.theme-switch {
  position: relative;
  /* height: 40px; */
  margin-bottom: 1em;
}

/* .navbar:hover .theme-switch {
  width: calc(var(--navbar-expanded-width) / 2);
} */

/* .theme-switch-button-light {
  position: absolute;
}

.theme-switch-button-dark {
  position: absolute;
} */

.theme-switch-button {
  width: var(--navbar-collapsed-width);
  cursor: pointer;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: absolute;
  top: 0;
  bottom: 0;
  /* left: 0;
  right: 0; */
  /* height: 40px; */
  /* width: 40px; */
  opacity: 0; /*! Change this back to 0*/

  /* padding: 0 calc((var(--navbar-collapsed-width) - 28px) * 0.5); */
  /* color: gray; */
  /* color: lightgray; */
  /* color: #b2bac3; */
  color: var(--fg-navbar-opacity-50);
  /* fill: #b2bac3; */
  fill: var(--fg-navbar-opacity-50);
  /* fill: gray; */
  /* fill: lightgray; */
}

.navbar:hover .theme-switch-button {
  width: calc(var(--navbar-expanded-width) / 2);
  opacity: 1;
}

.theme-switch-button-active {
  opacity: 1;
}

.theme-switch-button-light.theme-switch-button-active {
  /* fill: #ffd43b; */
  fill: var(--fg-themeBtn-icon-light-active);
  color: var(--fg-themeBtn-text-light-active);
}

.theme-switch-button-dark.theme-switch-button-active {
  fill: var(--fg-themeBtn-icon-dark-active);
  color: var(--fg-themeBtn-text-dark-active);
}

.theme-switch-button-dark {
  /* background-color: #364a61; */
  /* fill: #ffffff; */
  /* z-index: -1; */
  z-index: 0;
}

.navbar:hover .theme-switch-button-dark {
  margin-left: calc(var(--navbar-expanded-width) / 2);
}

.theme-switch-button-light {
  position: relative;
  /* background-color: burlywood; */
  /* fill: #ffd43b; */
  z-index: 0;
}

.theme-icon {
  margin: 0 calc((var(--navbar-collapsed-width) - 28px) * 0.5);

  max-height: 28px;
  max-width: 28px;
  min-height: 28px;
  min-width: 28px;
}

.theme-name {
  flex-grow: 1;
  flex-shrink: 0;
  max-width: calc((var(--navbar-expanded-width) / 2) - 28px - 1em);
  opacity: 0;
  /* text-align: center; */
}

/* .theme-name__dark {
  color: #fff;
} */

.navbar:hover .theme-icon {
  margin: 0 0.5em;
}

.navbar:hover .theme-name {
  opacity: 1;
}

.theme-switch-button-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -20;
  /* margin: 4px 2px; */
  margin: 0.125em 1em;
  border-radius: 0.5em;
}

.navbar:hover .theme-switch-button-bg {
  margin: 0.125em 0.25em;
}

.theme-switch-button-light.theme-switch-button-active
  ~ .theme-switch-button-bg {
  /* background-color: burlywood; */
  /* background-color: lightskyblue; */
  background-color: var(--bg-themeBtn-light-active);
}

.theme-switch-button-dark.theme-switch-button-active ~ .theme-switch-button-bg {
  /* background-color: pink; */
  background-color: var(--bg-themeBtn-dark-active);
}

.navbar:hover
  .theme-switch-button-light.theme-switch-button-active
  ~ .theme-switch-button-bg {
  right: calc(var(--navbar-expanded-width) / 2);
}

.navbar:hover
  .theme-switch-button-dark.theme-switch-button-active
  ~ .theme-switch-button-bg {
  left: calc(var(--navbar-expanded-width) / 2);
}

/* Pages */

.loader {
  fill: var(--fg-navbar-1);
  animation: rotate 1s infinite linear;
  height: 100px;
  width: 100px;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.page-title {
  font-size: 2.5em;
  font-weight: 600;
  color: var(--fg-pages-1);
}

.page {
  background-color: var(--bg-pages-1);
  min-height: 100vh;
}
